pkgbase = spent
	pkgdesc = Minimalist personal finance tracker for Linux desktop
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/FrogSnot/Spent
	arch = x86_64
	license = AGPL3
	makedepends = npm
	makedepends = rust
	makedepends = cargo
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = librsvg
	depends = sqlite
	source = spent-1.0.0.tar.gz::https://github.com/FrogSnot/Spent/archive/v1.0.0.tar.gz
	sha256sums = 18cce3184a8b0db6347bd26ad3dca6c7454e059cf254c89a7c4ef32ce1ca3b30

pkgname = spent
